name: Tests
on: [push, pull_request]
jobs:
  reference_implementation_tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11
      - name: Install mypy
        run: pip install mypy
      - name: Install ruff
        run: pip install ruff
      - name: Run reference implementation tests
        run: ./python/tests.sh
  trusted_dealer_unit_tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11
      - name: Run Trusted Dealer unit tests
        env:
          PYTHONPATH: ./python/secp256k1lab/src
        run: python3 -m unittest python.trusted_dealer
